.main-header {
  font-size: 1.6rem;
  height: 5.5rem;
  width: 100%;
  background-color: #00695c;
  display: flex;
  align-items: center;
}

.main-header__nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.main-header__list {
  margin-left: 4rem;
  display: flex;
}

.main-header__item {
  list-style: none;
}

.main-header__item:not(:last-child) {
  padding-right: 3rem;
}

.user-auth a,
.main-header__item a {
  color: #fff;
  text-decoration: none;
}

.user-auth form button {
  font-family: inherit;
  font-size: 1.6rem;
  background-color: transparent;
  color: #fff;
  border: none;
  cursor: pointer;
}

.active {
  color: #ffeb3b !important;
}

.main-header__item a:active,
.main-header__item a:hover {
  color: #ffeb3b;
}

.user-auth {
  margin-right: 4rem;
}